
<!DOCTYPE html>
<html>
  <head>
    <title>

    {{materias.nombre}}

    </title>
  </head>

  <body>
    <h2>Nombre de la Materia: {{materias.nombre}}</h2>

    <h3>Fechas de las Mesas disponibles:</h3>
    <table width="100%" border="2" align="center" cellspacing="0" bordercolor="#000000" bgcolor="#FFCC99">
        <tr>
            <th>Primera Mesa </th>
            <th>Segunda Mesa</th>
            <th>Tercera Mesa</th>
            <th>Cuarta Mesa</th>
            <th>Quinta Mesa</th>
            <th>Sexta Mesa</th>
            <th>Septima Mesa</th>
            <th>Octava Mesa</th>
            <th>Novena Mesa</th>
            <th>Decima Mesa</th>
        </tr>
  <tr>
      <td>{{materias.primera_mesa}}</td>
      <td>{{materias.segunda_mesa}}</td>
      <td>{{materias.tercera_mesa}}</td>
      <td>{{materias.cuarta_mesa}}</td>
      <td>{{materias.quinta_mesa}}</td>
      <td>{{materias.sexta_mesa}}</td>
      <td>{{materias.septima_mesa}}</td>
      <td>{{materias.octava_mesa}}</td>
      <td>{{materias.novena_mesa}}</td>
      <td>{{materias.decima_mesa}}</td>
  </tr>
      </table>
      <h3>Mas Informacion:</h3>
<a href="/"><h1>Principal</h1></a>
  </body>
</html>
